body {

}

main {
    display: flex;
    flex-direction: column;
}

h1 {
    font-size: 3vw;
    font-weight: bolder;
    text-align: center;
}

#pricing {
    width: 100%;
    display: flex;
}

button {
    padding: 6px 10px;
}

